<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        this is home page
    </h1>
    <h1><%=1+2%></h1><!--we can see in ejs.co for all this techniques and here <%= %> is execute and give-->
    <h1><%=["hello","bye"][0]%></h1>
    <h2>
        <%="hello".toUpperCase()%>
    </h2>
    <h3>
       hiii <%=num%>
    </h3>
    <h4>
        <%if(num==6){%>
            you r lucky
            <%}%><!--<% %> is used for executing js code-->
    </h4>
    <button>
    click me!
 </button>  
    
</body>
</html>